# npm & yarn
node_modules
/package-lock.json
/yarn.lock
/yalc.lock
/.yalc
*.tgz
.yarn-integrity

# Editor workspaces
*.code-workspace
/.idea
/.vscode

# Build outputs
generatedDocs
/packages/*/es
/packages/*/lib
/packages/*/docs.json
/docs*.json
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
